@model MvcSqlServerWebBackup.Models.ModelBackupTaskViewDetail
@{
    ViewBag.Title = "Сбросить статус выполнения задания резервного копирования";
}

<h2>Вы точно хотите Сбросить статус выполнения задание резервного копирования?</h2>
<div>
    <h4>Задание: @Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>
        
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Выполнить" class="btn btn-default" /> |
            @Html.ActionLink("Детализация", "Details", new { id = Model.Id })
        </div>
    }
</div>
