@model MvcSqlServerWebBackup.Models.ModelCloudDriveView
@{
    ViewBag.Title = "Удаление облачного диска";
}

<h2>Вы точно хотите удалить облачный диск?</h2>
<div>
    <h4>Соединение: @Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Name, "Наименование")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Provider, "Провайдер")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Provider)
        </dd>
        
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Назад к списку", "Index") 
            <input type="submit" value="Удалить" class="btn btn-danger" />
            
        </div>
    }
</div>
