@model MvcSqlServerWebBackup.Models.ModelCloudDriveViewEdit
@{
    ViewBag.Title = "Информация об облачном диске";
}

<h2>Информация об бблачном диске</h2>
<div>
    <h4>Текущее соединение: @Model.Name</h4>
    <hr />
    <div>
        <p>
            @Html.ActionLink("Назад к списку", "Index")
        </p>
    </div>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Действия
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="@Url.Action("Edit", new { id = Model.Id })">Изменить</a></li>
            <li><a href="@Url.Action("Delete", new { id = Model.Id })">Удалить</a></li>
        </ul>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Основное</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.Name, "Наименование")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Provider, "Провайдер")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Provider)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Location, "Расположение")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>
                
                <dt>
                    @Html.LabelFor(model => model.Uid, "Пользователь")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Uid)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Password, "Пароль")
                </dt>
                <dd>
                    @if (string.IsNullOrEmpty(Model.Password) || string.IsNullOrWhiteSpace(Model.Password))
            {
                        @Html.Label("Не указан")
                    }
                    else
                    {
                        @Html.Label("Указан")
                    }
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Memo, "Описание")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Memo)
                </dd>
            </dl>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Назад к списку", "Index")
</p>
