@model MvcSqlServerWebBackup.Models.ModelCloudDriveViewEdit
@{
    ViewBag.Title = "Информация об облачном диске";
}

<h2>Информация об бблачном диске</h2>
<div>
    <h4>Текущее соединение: @Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           @Html.LabelFor(model => model.Name, "Наименование")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Provider, "Провайдер")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Provider)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Location, "Расположение")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Memo, "Описание")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
