@model MvcSqlServerWebBackup.Models.ModelCloudDriveViewEdit
@{
    ViewBag.Title = "Редактирование облачного диска";
}

<h2>Редактирование облачного диска</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Текущее соединение: @Model.Name</h4>
        <hr />
        <div>
            @Html.ActionLink("Назад к списку", "Index")
        </div>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Наименование", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Provider, "Провайдер", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Provider, new List<SelectListItem>{
               new SelectListItem(){Text = "GoogleDrive", Value = "GoogleDrive", Selected = @Model.Provider== "GoogleDrive" },
               new SelectListItem(){Text = "Mega", Value = "Mega", Selected = @Model.Provider== "Mega" },
               new SelectListItem(){Text = "Файловая система", Value = "FileSystem", Selected = @Model.Provider== "FileSystem" },
               new SelectListItem(){Text = "Серверное устройство", Value = "SQLBACKUPDEVICE", Selected = @Model.Provider== "SQLBACKUPDEVICE" }
               
           },
               new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Provider)
            </div>
        </div>
        <div class="form-group">
                @Html.LabelFor(m => m.Location, "Расположение", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Location)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Uid, "Пользователь", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Uid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Uid)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Пароль", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Memo,"Описание", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Memo, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Memo)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}