@model MvcSqlServerWebBackup.Models.ModelConnectionView
@{
    ViewBag.Title = "Удаление соединения";
}

<h2>Вы точно хотите удалить соединение?</h2>
<div>
    <h4>Соединение: @Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Name, "Наименование")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.LabelFor(model => model.ServerName, "Сервер")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServerName)
        </dd>
        @*<dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>*@
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Назад к списку", "Index") 
            <input type="submit" value="Удалить" class="btn btn-danger" /> 
            
        </div>
    }
</div>
