@model MvcSqlServerWebBackup.Models.ModelConnectionViewEdit
@{
    ViewBag.Title = "Редактирование соединения";
}

<h2>Редактирование соединения</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Текущее соединение: @Model.Name</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, "База данных", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
                @Html.LabelFor(m => m.ServerName, "Сервер", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.ServerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ServerName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                @Html.EditorFor(m => m.IntegratedSecurity) 
                    Windows авторизация
                </label>
                
                                
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Uid, "Пользователь", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Uid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Uid)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, "Пароль", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Memo,"Описание", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Memo, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Memo)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    @Html.EditorFor(m => m.UseAdvancedConnection)
                    Использовать собственную строку соединения
                </label>


            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ConnectionString, "Строка соединения", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ConnectionString, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConnectionString)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}